@import url("common.css");

.container1 {
	height: 5rem;
	box-sizing: border-box;
	padding: 1rem 0rem;
}

.container1-content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.container1-content .child {
	margin: 0rem 2rem;
}

a {
	color: var(--primary-color);
	margin: 1rem;

}

.container1 ul {
	display: flex;
	list-style: none;
	height: 5rem;
	/* margin-left: 1.5rem; */
}

li {
	margin-top: 2rem;
	font-size: 1.5rem;
}

.container1 .media-handle a {
	border-radius: 7rem;
	padding: 0.5rem;
	background-color: rgba(227, 248, 225, 0.8);

}

.container1 .media-handle a:hover {
	background-color: var(--primary-color);
	transition: 0.1s ease-in-out;
	color: aliceblue;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--primary-color);
	font-weight: 900;
	font-size: 22px;
	line-height: 1;
	height: 4rem;
	width: 50vw;

}

.register-button {
	
	width: 25vw;
}

.register-button button {
	width: 12vw;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 0.5rem;
	height: 3rem;
	border: 0.1px solid var(--primary-color-light);
	background-color: white;
	box-shadow: 0rem 0rem 1.5rem -1rem green;
	transition: all 0.2s ease-in-out;
	color: rgb(99, 93, 93);
}

.register-button button:hover {
	background-color: var(--primary-color-light);
	color: white;
}

.agrify {
	color: black;
	margin-left: 2rem;
}

li .loginpage:hover {
	height: 2.5rem;
	width: 2.5rem;
	margin-right: 2.5rem;
	margin-left: 0.5rem;
	border-radius: 10rem;
	transition: 0.1s ease-in-out;
}

.login {
	display: none;
	z-index: 2;
}

.loginpage .login {
	position: absolute;
	display: none;
}

#login-button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	color: #fff;
	background-color: var(--primary-color-light);
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#login-button:hover {
	background-color: var(--primary-color);
}

.container2 {
	display: flex;
	box-shadow: 0rem 0rem 2.5rem -2rem;
	justify-content: center;
	text-align: center;
	height: 6rem;
	margin: 1rem 0rem;

	transition: all 0.2s ease-in-out;
}

.container2 i {
	color: red;
}



.container2 ul {
	display: flex;
	list-style: none;

}

.container2 li {
	margin: 1rem;
	margin-top: 2rem;
}

.container2 .register-button {
	margin-top: 2rem;

}

.nav {
	display: inline-block;
}

.nav::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	transition: 200ms;
}

.nav:hover::after {
	width: 95%;
}

.container2 ul li a {
	color: black;
	width: 0%;
	text-decoration: none;
}

.container2 ul li a:hover {
	color: var(--primary-color);
}

.containerhamburger {
	display: none;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 4px;
	background-color: #333;
	margin: 5px 0;
	transition: 0.4s;
}

.change .bar1 {
	transform: translate(0, 9px) rotate(-40deg);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: translate(0, -9px) rotate(40deg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container3 {
	height: 40rem;
	justify-content: center;
	background-image: linear-gradient(291deg, rgba(175, 213, 121, 0.007), rgb(164 206 125 / 90%)), url(../images/login_background_final.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.container3-content {
	display: flex;
	flex-direction: column;
	height: 50vh;
	padding: 0rem 2rem;
}

.container3 .media-handle ul {
	display: flex;
}

.container3 ul li {
	list-style: none;
}

.container3 ul li a {
	list-style: none;
	background-color: white;
	border-radius: 5rem;
	height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	color: var(--primary-color-light);
}

.container3 ul li a:hover {
	background-color: var(--primary-color-light);
	color: white;
}

.container3 .register-button {
	margin: 2rem 0rem;
}

.container3blur {
	filter: blur(20px);
	-webkit-filter: blur(20px);
}

.container4 {
	display: flex;
	height: 35rem;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	justify-items: center;
}

.container4 .Contact {
	display: flex;
	width: 60vw;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;

}

.container4 .contact {
	margin: 1rem 0rem;
	text-align: center;
}

.icon {
	padding: 14px;
	background: var(--primary-color-light);
	color: white;
	min-width: 5vw;
	text-align: center;
}

.container4 .Contact input {
	height: 43.5px;
	padding: 0rem 1rem;
	width: 50vw;
	outline: none;
	font-size: 16px;
	border: 1px solid #ccc;
	border-bottom-width: 2px;
	transition: all 0.3s ease;
	border: 1px solid #ccc;
	margin-left: -0.3rem;
}


.contact-submit {
	margin-left: 0rem;

}

.contact-submit input[type=submit] {
	background-color: var(--primary-color-light);
	color: white;
	width: 55vw;
	text-align: center;
	border: none;
}

.contact-submit input[type=submit]:hover {
	background-color: var(--primary-color-dark);
}

.container5 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	padding: 1rem;
	height: auto;
}

.container5 .leftimage {

	width: 50vw;

}

.container5 .leftimage img {
	height: 35rem;
}

.container5 .middleimage {

	width: 33vw;
}

.container5 .middleimage img {
	height: 25vw;
	display: flex;
	align-items: center;
	position: relative;
	right: 5rem;
	justify-content: center;
	box-sizing: border-box;
	border: 1rem solid white;

}

.container5 .rightcontent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container5 .rightcontent p {
	margin-top: 2rem;
	font-size: 1.5rem;
	font-weight: lighter;
	line-height: 2rem;
}

.container5 .rightcontent button {
	margin-top: 3rem;
	height: 3rem;
	border-radius: 1rem;
	width: 50%;
	border: 1px solid var(--primary-color-light);
	background-color: var(--primary-color-light);
	transition: all 0.2s ease-in-out;
}

.container5 .rightcontent button:hover {
	background-color: var(--primary-color);
}

@media (max-width:500px) {

	.container2 .register-button{
		margin: 0;
	}
	.register-button button{
		width: 18vw;
	}
	.auction-list{
		display: flex;
		justify-content: center;
		align-items: center;
		
	}
	.container2{
		justify-content: space-between;
		align-items: center;
	}
	.container5 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1rem;
		height: auto;
	}

	.container5 .leftimage {
		width: 80vw;
	}

	.container5 .leftimage img {
		height: 24rem;
		width: 100%;
	}

	.container5 .middleimage {
		width: 50vw;
		height: 10rem;
	}

	.container5 .middleimage img {
		height: 46vw;
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
		bottom: 7rem;
		right: 0;
		justify-content: center;
		box-sizing: border-box;
		border: 1rem solid white;
	}
}