@import url(common.css);

#login-image img {
	height: 100vh;
	width: 100vw;
	opacity: 0.5;
}

body {
	align-items: center;
	justify-content: center;

}

.activelogin {
	display: block;
	backface-visibility: none;
	z-index: 2;
}

.loginform {
	position: absolute;
	top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 3rem;
	width: 50%;
	margin-left: 20rem;
	height: 40rem;
	background-color: rgb(13 13 13 / 36%);
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
}

.image img {
	height: 40rem;
	width: 100%;
}

.login-text {
	display: flex;
	box-sizing: border-box;
}

.login-text .facebook {
	background-color: rgb(45, 103, 211);
	margin-left: 14rem;
}

.login-text a {
	height: 2rem;
	border-radius: 5rem;
	width: 2rem;
	margin: 0.5rem;
	background-color: rgb(70 173 255);
	margin-top: 5rem;
	text-align: center;
	color: white;
	transition: 0.3s ease-in-out;
}

.login-text .facebook:hover {
	background-color: aliceblue;
	color: rgb(45, 103, 211);
}

.login-text .twitter:hover {
	background-color: aliceblue;
	color: rgb(70 173 255);
}

.login-text i {
	margin-top: 0.5rem
}

.user {
	margin: 2rem;
	border: 1px;
	border-radius: 2rem;

}

.login-text h1 {
	margin-top: 5rem;
	color: white;
}

.user1 {
	margin-top: 4rem;
	border: 1px;
}

.username-and-password {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login .loginform input {
	border-radius: 4rem;
	border: 1px solid black;
}

.text {
	width: 27rem;
	height: 3rem;
	font-size: 1rem;
	text-align: center;
	/* margin-right: 18rem; */
}

.signup {
	margin: 1rem;
	color: white;
}

.signup a {
	text-decoration: none;
	color: rgb(15, 184, 15);
	font-weight: 500;
	font-style: bold;
}

.signup a:hover {
	color: var(--primary-color-light);
}

.submit {
	width: 7rem;
	height: 2rem;
	transition: 0.3s ease-in-out;
	border: 1px;

}

.submit:hover {
	width: 7rem;
	height: 2rem;
	background-color: var(--primary-color);
}

.forgot a {
	color: white;
	text-decoration: none;

}

.forgot a:hover {
	color: var(--primary-color);
}

.cancel {
	height: 7rem;
}

.cancel a i {
	font-size: large;
	margin-top: 3rem;
	margin-left: 30rem;
	color: white;
}

.cancel a i:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.cancel img {
	/* margin-top:2rem ; */
	position: absolute;
	top: 3rem;
	width: 10rem;
}