@media screen and (max-width: 1074px) {


    .container2 {
        display: block;

    }
}

@media screen and (max-width: 412px) {
    * {
        width: 412px;
        box-sizing: border-box;
    }

    .container1 {
        height: 3rem;
        width: 100%;
    }

    .container1 ul {
        position: absolute;
        top: -3%;
        margin-left: 0rem;
    }

    .container1 ul .logo {
        margin-left: 1rem;

    }

    .container1 .media {
        display: none;
    }

    .container1 ul .logo {
        margin-left: -2rem;
        position: absolute;
    }

    .container1 .search {
        display: none;

    }

    .container1 input {

        border-radius: 4rem;
        border: 1px solid black;

        height: 1.6rem;
        width: 6rem;
        font-size: 0.8rem;
        margin-left: 17rem;
        margin-top: 0rem;
    }

    .container2 ul li {
        display: none;

    }

    .container2 ul {
        margin-left: 0rem;
    }

    .container2 {
        height: 3rem;
        width: 428px;

    }

    .containerhamburger {
        display: block;
        position: relative;
        top: 1rem;
        left: 1rem;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        /* background-position: center;
                background-repeat: no-repeat;
                background-size: cover; */
        width: 412px;
    }

    .flip-card1 {
        background-color: transparent;
        width: 12rem;
        height: 13rem;
        /* display: none; */
        /* perspective: 1000px; */
    }

    .flip-card-front img {
        height: 9rem;
        width: 12rem;
    }

    .flip-card-front h1 {
        margin-left: -8rem;
    }

    .flip-card2 {
        /* display: none; */
        background-color: transparent;
        width: 12rem;
        height: 12rem;
        /* perspective: 1000px; */
    }

    .flip-card-back h1 {
        margin-left: -7rem;
        font-size: 1rem;
    }

    .flip-card-back p {
        height: 2rem;
        width: 12rem;
    }
    .card-register{
        margin-left:0rem ;
        width: 5rem;
    }
    .card-register button {
        margin-top: 1rem;
        margin-left: 3.5rem;
        border-radius: 2rem;
        font-size: 0.5rem;
        height: 1rem;
        width: 3rem;
    }

    .container4 .contact {
        width: 412px;

    }

    .container4 .Contact i {
        background-color: #585252;
        color: white;
        position: relative;
        top: -0.3rem;
        left: 4.2rem;
        height: 3rem;
        width: 2rem;
    }

    .container4 .Contact input {
        height: 3rem;
        width: 14rem;
        text-align: center;
        font-size: 1rem;
        margin-left: 4rem;
        margin-top: 2rem;
        border-radius: 0rem;
        background-color: #eef3ed;
        border: 0px solid #3a843a;
    }
    .container4 .Contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-text  {
        margin-left: 6rem;
        width: 13rem;
    }
    .contact-text h1 {
        margin-left: 2rem;
        width: 13rem;
    }

    .contact-text1 {
        margin-left: 6.5rem;
        width: 13rem;
    }

    .contact-submit input[type=submit] {
        background-color: #4e9525;
        color: white;
        margin-top: 2rem;
        margin-left: 4rem;
        width: 17.8rem;
    }

    .container5 {
        width: 412px;
        display: flex;
        flex-direction: column;
    }

    .container5 .leftimage {
        height: 34.8rem;
        box-sizing: border-box;
        width: 26.7rem;
    }

    .container5 .leftimage img {
        height: 34.8rem;
        width: 26.7rem;
    }

    .container5 .middleimage {
        height: 40rem;
        display: flex;
        align-items: center;
        position: relative;
        right: -1.5rem;
        top: -7rem;
        justify-content: center;
        box-sizing: border-box;
        width: 24rem;
    }

    .container5 .middleimage img {
        height: 15rem;
        border: 1rem solid white;
        width: 18rem;
    }

    .container5 .rightcontent {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .container5 .rightcontent h1 {
        margin-top: -4rem;
        font-size: 3rem;
    }

    .container5 .rightcontent p {
        margin-top: 2rem;
        font-size: 1.5rem;
        font-weight: lighter;
        line-height: 2rem;
    }

    .container5 .rightcontent button {
        margin-top: 3rem;
        margin-left: 7rem;
        height: 3rem;
        border-radius: 1rem;
        width: 50%;
        border: 1px solid rgb(132, 202, 138);
        background-color: rgba(106, 230, 154, 0.473);
    }
}