<style>
    body{
        background-image: url(images/kisspng-lawn-grassland-ecosystem-green-wallpaper-field-views-5a8100d29ddca9.1654117515184037946466.png);
        background-repeat: no-repeat;
        background-size: 100%;
        }
       .loginform{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3rem;
        width: 50%;
        margin-left: 27rem;
        height: 51rem;
        background-color: rgba(34, 209, 34, 0.712);
       } 
       
       .login-text{
        display: flex;
        box-sizing: border-box;
       }
        .login-text .facebook{
            height:3rem;
            width:3rem;
            font-size:2rem
         background-color: #2a68bf;;
        margin-left:18rem;
        } 
       .login-text .twitter{
            height:3rem;
            width:3rem;
        margin-top: 4rem;
        margin-left:0rem;
        text-align: center;
       }   
       .login-text a{
        height: 2rem;
        border-radius: 5rem;
        width: 2rem;
        margin: 0.5rem;
        background-color: rgb(70 173 255);
        margin-top: 5rem;
        text-align: center;
        color: white;
        transition: 0.3s ease-in-out;
       }
       .login-text .facebook:hover{
        background-color: aliceblue;
        color: rgb(45, 103, 211);
       }
       .login-text .twitter:hover{
        background-color: aliceblue;
        color:  rgb(70 173 255);
       }
       .login-text i{
        margin-top:0.9rem
       }
       
       .user{
        margin: 2rem;
        border: 1px;
        border-radius: 2rem;
       }
       h1{
        margin-top: 5rem;
           font-size:2.5rem;
       }
       .user1{
        margin-top: 4rem;
        border: 1px;
       }
       input{
         border-radius: 4rem;
         border: 1px solid black;
       }
       .text{
        width: 36rem;
    height: 4rem;
    font-size: 1.5rem;
    text-align: center;
       }
       .signup{
        margin: 1rem;
           font-size:1.5rem;
       }
       .signup a{
        text-decoration: none;
        color: rgb(255, 254, 254);
        font-weight: 500;
        font-style: bold;
       }
       .signup a:hover{
        color: blue;
       }
       .submit{
        width: 9rem;
        height: 3rem;
        transition: 0.3s ease-in-out;
        border: 1px ;
       }
       .submit:hover{
        width: 9rem;
        height: 3rem;
        background-color: rgb(18, 230, 18);
       }
       .forgot a{
        color: black;
           font-size:1.5rem;
        text-decoration: none;
       }
       .forgot a:hover{
        color: blue;
       }
       .cancel{
        height: 7rem;
       }
       .cancel a i{
        font-size: large;
        margin-top: 3rem;
        margin-left: 30rem;
      color: black;
       }
       .cancel a i:hover{
        color: blue;
       }
       .cancel img{
        /* margin-top:2rem ; */
        position: absolute;
        top: 3rem;
        width: 10rem;
       }
       body{
        background-image: url(/images/kisspng-lawn-grassland-ecosystem-green-wallpaper-field-views-5a8100d29ddca9.1654117515184037946466.png);
        background-repeat: no-repeat;
        background-size: 100%;
       }
 </style>
